<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />

    <script src="../js/jquery-3.2.1.min.js" type="javascript"></script>
    <script src="../js/bootstrap.min.js" type="javascript"></script>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />

    <title>显示用户列表</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">盘古分析系统</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">数据源管理</a></li>
                    <li><a href="#about">图分析</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <table class="table">
            <div th:if="${userid !=null}">
                <label>
                    登录成功！当前登录用户：
                    <span th:text="${userid}">空</span>
                </label>
            </div>
            <div><span>所有用户信息如下：</span></div>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>UserID</th>
                    <th>PassWord</th>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody th:each="User:${userList}">
                <tr>
                    <td th:text="${User.id}"></td>
                    <td th:text="${User.userid}"></td>
                    <td th:text="${User.password}"></td>
                    <td th:text="${User.name}"></td>
                    <td th:text="${User.age}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>